body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	font-family: Arial;
}

.datarow #name{
	font-weight: bolder;
	float: left;
}

.datarow #phone{
	float: right;
}

.datarow #address{
	float: left;
	font-size: 10pt;
	width:60%;
	clear: right;
}

.datarow #email{
	float: left;
	padding: 0px 5px;
	clear; right;
}

div#map_container {
	width: 960px; 
	height: 630px; 
	position: fixed;
}

#info_container{
	top:30%;
	left: 30%;
	width: 40%;
	height: 40%;
	background: #4863A0;
	position:absolute;
	z-index:100;
	border-radius: 1em;
	border:1px solid black;
}

#info_content{
	position:relative;
	top: 1em;
	height:75%;
	width:90%;
	margin: 5%;
	background:white;
	border-radius: .25em;
}

#info_exit{
	float:right;
	background:white;
	margin:.4em;
	padding: .05em .25em;
	border-radius: .25em;
	border:1px solid black;
}

#info_exit:hover{
	background:#98AFC7;
	cursor: pointer;
}

#info_header{
	float: left;
	width: 90%;
	text-decoration: underline;
	font-weight: bolder;
	text-align: center;
	margin-top: .25em;
}

.map_canvas { 
	position: absolute; 
	border: 1px dashed black;
}

.map_canvas#alaska { 
	height: 25%; 
	width: 15%; 
	top: 30%; 
	left: 5%; 
}

.map_canvas#continental { 
	height: 100%; 
	width: 100%; 
	top: 0px; 
	left: 0px; 
}

.map_canvas#alaska div.gmnoprint{
	display: none;
}

.map_canvas#hawaii div.gmnoprint{
	display: none;
}

.map_canvas#hawaii { 
	height: 25%; 
	width: 15%; 
	bottom: 5%; 
	left: 10%; 
}

html { 
	height: 100% 
}